.usm-section {
  padding: 65px 130px;
}
.usm-mentor {
  background: #161616;
}
.usm-section-inner {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  max-width: 1164px;
  width: 100%;
  justify-content: space-between;
}
.usm-section-content {
  display: flex;
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.usm-mentor-inner {
  justify-content: space-between;
  gap: 50px;
}
.usm-section-cont-head {
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 140.752% */
  background: linear-gradient(180deg, #fff 0%, #ffeec5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.emoji {
  -webkit-text-fill-color: initial; /* Keeps the original emoji color */
  background: none;
}
.usm-section-cont-subhead {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 182%; /* 43.68px */
  opacity: 0.8;
  max-width: 477px;
}
.usm-section-image {
  max-width: 500px;
  aspect-ratio: 500/351;
  position: relative;
  border-radius: 22.581px;
  width: 100%;
}
.usm-section-image > img {
  max-width: 500px;
  aspect-ratio: 500/351;
  position: relative;
  border-radius: 22.581px;
  width: 100%;
}
@media (width<1024px) {
  .usm-section {
    padding: 50px 64px;
  }
}
@media (width<780px) {
  .usm-section {
    padding: 50px 32px;
  }
  .usm-section-cont-head {
    font-size: 36px;
  }
  .usm-section-cont-subhead {
    font-size: 21px;
  }
  .usm-section-inner {
    flex-direction: column;
    gap: 24px;
    align-items: start;
  }
  .usm-mentor-inner {
    flex-direction: column-reverse;
  }
  .usm-section-image {
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .usm-section-image > img {
    max-width: unset;
    border-radius: 30px;
  }
  .usm-section-cont-subhead {
    max-width: unset;
  }
}
@media (width<580px) {
  .usm-section {
    padding: 44px 20px;
  }
  .usm-section-image > img {
    border-radius: 20px;
  }
  .usm-section-cont-head {
    font-size: 28px;
  }
  .usm-section-cont-subhead {
    font-size: 18px;
  }
  .usm-section-content {
    gap: 6px;
  }
}
@media (width<480px) {
}
